{% extends 'layout.html' %}

{% block body %}
	
	<div class="container">
		<div class="row">
			<div class="col-md-3">
			    <div class="text-center well"><b>Chat</b></div>

			        <div class="no_message">
			          <h1 style='color: #ccc'>No message yet..</h1>
			          <div class="message_holder"></div>
			        </div>
			        <hr>

			        <form action="" method="POST" class="form-inline send">

			          <input type="hidden" value="{{ session['username'] }}" class="username form-control" placeholder="User Name">


			        <div class="input-group">

						<input type="text" class="message form-control" placeholder="say something ..." >
						<span class="input-group-btn">
								<button type="button" class="btn btn-success"> Send </button>
						</span>
					</div>

			        </form>
	     
			</div>

			<div class="col-md-6">
				<div class="panel panel-primary">
				  <div class="panel-heading text-center">All posts</div>
				  <div class="panel-body">

					<h2>What's on your mind?</h2>
					
					{% from "includes/_formhelpers.html" import render_field %}
					<form method="POST" action="">
						<div class="form-group">
							{{ render_field(form.title, class_="form-control") }}
						</div>
						<div class="form-group">
							{{ render_field(form.post, class_="form-control", id_="post") }}
						</div>
						<div class="form-group">
							<input type="submit" class="btn btn-primary" value="POST">
						</div>
					</form>


					{% for post in posts: %}
						<div class="post" style="border: 1px solid #cbcbcb;">
							<div class="author" style="width: 20%; float: left;">
								<img src="{{url_for('static', filename='img/avatar.png')}}" style="height: 50px; width: 40px;"  />
								<span>{{ post['username'] }}</span> &nbsp;
							</div>
							<div style="width: 79%; float: left;">
								<strong>{{ post['title'] }}</strong>
								<p>
									
								{{ post['post'] }}
								</p>
							</div>
						<div class="clearfix"></div>
						</div>

						<br>
					{% endfor %}  


				  </div>
				</div>
			   
			     
			</div>

			<div class="col-md-3">
				<div class="panel panel-primary">
				  <div class="panel-heading text-center">Find Friends</div>
				  <div class="panel-body">
				    {% for user in users: %}
						<div class="profile_info">
							<img src="{{url_for('static', filename='img/avatar.png')}}" style="height: 50px; width: 40px;"  />

							<div>
								<strong>{{ user['username'] }}</strong>

								<small>
									<br>
									&nbsp; 
									<button data-id="{{ user['id'] }}" 
									class="btn btn-success btn-xs add_fr"> 
									<span class="glyphicon glyphicon-plus"></span> 
									add friend</button>
								</small>
							</div>
						</div>
						<br>
					{% endfor %}
				  </div>
				</div>
				
			</div>
		</div>
	</div>

{%  endblock %}


{% block scripts %}
	<script>
		$(document).ready(function(){

			sender_id = '{{ session['id'] }}';
			
			$('.add_fr').on('click', function(){
				id = $(this).data('id');
				$(this).text('sent');

				$.ajax({
					url: '/add_friend',
					type: 'POST',
					data: {
						'sender_id': sender_id,
						'receiver_id': id
					},
					success: function(response){
						// alert(response);
					}
				});

			});
		});


      var socket = io.connect( 'http://' + document.domain + ':' + location.port )
      // broadcast a message
      socket.on( 'connect', function() {
        socket.emit( 'my event', {
          data: 'user connected'
        } )

        var form = $( 'form.send' ).on( 'submit', function( e ) {
          e.preventDefault()
          let user_name = $( 'input.username' ).val()
          let user_input = $( 'input.message' ).val()
          socket.emit( 'my event', {
            user_name : user_name,
            message : user_input
          } )
          // empty the input field
          $( 'input.message' ).val( '' ).focus()
        } )
      } )

      // capture message
      socket.on( 'my response', function( msg ) {
        console.log( msg )
        if( typeof msg.user_name !== 'undefined' ) {
          $( 'h1' ).remove()
          $( 'div.message_holder' ).append( '<div class="msg_bbl"><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
        }
      } )




	</script>




{% endblock %}
